{% extends "base.html" %}

{% block title %}与 {{ bot.bot_name }} 对话 - 扣子渠道 Demo{% endblock %}

{% block content %}


<script src="https://lf-cdn.coze.cn/obj/unpkg/flow-platform/chat-app-sdk/1.2.0-beta.5/libs/cn/index.js"></script>
<script>
const cozeWebSDK = new CozeWebSDK.WebChatClient({
  config: {
    botId: '{{ bot.bot_id }}',
    isIframe: false,
  },
  auth:  {
    type: 'token',
    token: '{{ token }}',
    onRefreshToken: async () => '{{ token }}',
  },
  userInfo: {
      id: 'user_id',
      url: 'https://lf-coze-web-cdn.coze.cn/obj/coze-web-cn/obric/coze/favicon.1970.png',
      nickname: '渠道用户名称',
    },
    ui: {
      base: {
          icon: 'https://lf-coze-web-cdn.coze.cn/obj/coze-web-cn/obric/coze/favicon.1970.png',
          layout: 'pc',
          zIndex: 1000,
      },
      asstBtn: {
          isNeed: true,
      },
      footer: {
        isShow: true,
        expressionText: 'Demo 示例, Powered by {{name}}',
        linkvars: {
          name: {
            text: 'coze',
            link: 'https://www.coze.cn'
          }
        }
      },
      chatBot: {
        title: "{{ bot.bot_name }} | 扣子智能体",
        uploadable: true,
        width: 800,
        el: undefined,
        onHide: () => {
          // todo...
        },
        onShow: () => {
          // todo...
        },
      },
    },
});
cozeWebSDK.showChatBot();
</script>
{% endblock %}